@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-y: "scroll";
  background: black;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent,#4169E1);
  border-radius: 6px;
}

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
  transition: 0.8s;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#logo {
  text-transform: uppercase;
  cursor: pointer;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.showcase.active {
  right: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text small {
  font-size: 20px;
}

.text h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1em;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

.text a:hover {
  letter-spacing: 6px;
}

/*Social Media Boxes*/

.socialmediaboxes {
    position: relative;
    color: white;
    padding-top: 50px;
}

.socialmediaboxes .container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.socialmediaboxes h1 {
    text-align: center;
}

.box {
    background-color: #4169E1;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 20px;
    text-align: center;
}

/*Resume and Cover Letter*/

.resumeandcvboxes {
    position: relative;
    color: white;
    padding-top: 50px;
}

.resumeandcvboxes .container2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
}

.resumeandcvboxes h1 {
    text-align: center;
}

.box2 {
    background-color: #4169E1;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}